{
	"openapi": "3.0.0",
	"info": {
		"title": "MpesaFlow API",
		"version": "3.0.0",
		"description": "API for managing MpesaFlow transactions, applications, and API keys",
		"contact": {
			"name": "API Support",
			"url": "https://www.example.com/support",
			"email": "support@mpesaflow.com"
		},
		"license": {
			"name": "Apache 2.0",
			"url": "https://www.apache.org/licenses/LICENSE-2.0.html"
		}
	},
	"servers": [
		{
			"url": "https://api.mpesaflow.com",
			"description": "Production server"
		},
		{
			"url": "https://sandbox-api.mpesaflow.com",
			"description": "Sandbox server"
		}
	],
	"components": {
		"securitySchemes": {
			"BearerAuth": {
				"type": "http",
				"scheme": "bearer"
			}
		},
		"schemas": {
			"Error": {
				"type": "object",
				"properties": {
					"error": {
						"type": "string"
					}
				}
			},
			"Application": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"name": {
						"type": "string"
					},
					"description": {
						"type": "string"
					}
				}
			},
			"ApiKey": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"keyName": {
						"type": "string"
					},
					"applicationId": {
						"type": "string"
					}
				}
			},
			"Transaction": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"transactionId": {
						"type": "string"
					},
					"amount": {
						"type": "number"
					},
					"phoneNumber": {
						"type": "string"
					},
					"accountReference": {
						"type": "string"
					},
					"transactionDesc": {
						"type": "string"
					},
					"mpesaRequestId": {
						"type": "string"
					},
					"status": {
						"type": "string",
						"enum": ["pending", "completed", "failed"]
					},
					"resultDesc": {
						"type": "string"
					},
					"date_created": {
						"type": "string",
						"format": "date-time"
					}
				}
			}
		},
		"responses": {
			"Unauthorized": {
				"description": "Unauthorized",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/Error"
						}
					}
				}
			},
			"InternalServerError": {
				"description": "Internal Server Error",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/Error"
						}
					}
				}
			}
		}
	},
	"paths": {
		"/apps/create": {
			"post": {
				"summary": "Create a new application",
				"security": [
					{
						"BearerAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									},
									"description": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Application created successfully",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"applicationId": {
											"type": "string"
										},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalServerError"
					}
				}
			}
		},
		"/apps/list": {
			"get": {
				"summary": "List all applications",
				"security": [
					{
						"BearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "starting_after",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Cursor for the next page"
					},
					{
						"name": "ending_before",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Cursor for the previous page"
					},
					{
						"name": "limit",
						"in": "query",
						"schema": {
							"type": "integer"
						},
						"description": "Number of items to return"
					}
				],
				"responses": {
					"200": {
						"description": "List of applications",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Application"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalServerError"
					}
				}
			}
		},
		"/apps/{appId}": {
			"delete": {
				"summary": "Delete an application",
				"security": [
					{
						"BearerAuth": []
					}
				],
				"parameters": [
					{
						"in": "path",
						"name": "appId",
						"schema": {
							"type": "string"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "Application deleted successfully",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalServerError"
					}
				}
			}
		},
		"/apps/{appId}/api-keys/create": {
			"post": {
				"summary": "Create a new API key for an application",
				"security": [
					{
						"BearerAuth": []
					}
				],
				"parameters": [
					{
						"in": "path",
						"name": "appId",
						"schema": {
							"type": "string"
						},
						"required": true
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"keyName": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "API key created successfully",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"apiKeyId": {
											"type": "string"
										},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalServerError"
					}
				}
			}
		},
		"/apps/{appId}/api-keys/list": {
			"get": {
				"summary": "List all API keys for an application",
				"security": [
					{
						"BearerAuth": []
					}
				],
				"parameters": [
					{
						"in": "path",
						"name": "appId",
						"schema": {
							"type": "string"
						},
						"required": true
					},
					{
						"name": "starting_after",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Cursor for the next page"
					},
					{
						"name": "ending_before",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Cursor for the previous page"
					},
					{
						"name": "limit",
						"in": "query",
						"schema": {
							"type": "integer"
						},
						"description": "Number of items to return"
					}
				],
				"responses": {
					"200": {
						"description": "List of API keys",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/ApiKey"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalServerError"
					}
				}
			}
		},
		"/apps/{appId}/api-keys/{apiKeyId}": {
			"delete": {
				"summary": "Delete an API key",
				"security": [
					{
						"BearerAuth": []
					}
				],
				"parameters": [
					{
						"in": "path",
						"name": "appId",
						"schema": {
							"type": "string"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "apiKeyId",
						"schema": {
							"type": "string"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "API key deleted successfully",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalServerError"
					}
				}
			}
		},
		"/transactions/create": {
			"post": {
				"summary": "Create a new transaction",
				"security": [
					{
						"BearerAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"amount": {
										"type": "number"
									},
									"phoneNumber": {
										"type": "string"
									},
									"accountReference": {
										"type": "string"
									},
									"transactionDesc": {
										"type": "string"
									},
									"mpesaRequestId": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Transaction created successfully",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"transactionId": {
											"type": "string"
										},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalServerError"
					}
				}
			}
		},
		"/transactions/list": {
			"get": {
				"summary": "List all transactions",
				"security": [
					{
						"BearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "starting_after",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Cursor for the next page"
					},
					{
						"name": "ending_before",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Cursor for the previous page"
					},
					{
						"name": "limit",
						"in": "query",
						"schema": {
							"type": "integer"
						},
						"description": "Number of items to return"
					},
					{
						"in": "query",
						"name": "appId",
						"schema": {
							"type": "string"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "List of transactions",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Transaction"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalServerError"
					}
				}
			}
		},
		"/transactions/{transactionId}": {
			"get": {
				"summary": "Get transaction details",
				"security": [
					{
						"BearerAuth": []
					}
				],
				"parameters": [
					{
						"in": "path",
						"name": "transactionId",
						"schema": {
							"type": "string"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "Transaction details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Transaction"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalServerError"
					}
				}
			}
		}
	}
}
